/*card*/
.restaurant {
    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media #{$medium-up}{
          @include flex(row, normal, space-around, wrap);
         
         }
         

    }

    &__card {
        width: 85%;
        height: 230px;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 25px;
        overflow: hidden;
        background-color: white;
        position: relative;

        @include border-shadow;

        @media #{$medium-up} {
            width: 39%;

            max-height: 300px;
            margin-bottom: 68px;


           

        }
        


        &__img {
            width: 100%;
            height: 71%;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;

        }

        &__content {

            padding-left: 17px;
            padding-top: 5px;
            @include flex(row, stretch, space-between, flex-wrap);



        }

        &__link:link {
            color: black;
        }

        &__text {

            color: black;
            line-height: 22px;

            @media #{$medium-up} {
                line-height: 25px;




            }
        }

        &__name {
            font-weight: bold;

            @media #{$medium-up} {
                font-size: $font-size-med !important;


            }
        }

        &__place {
            @media #{$large-up} {
                font-size: $font-size-med !important;




            }


        }


        &__grab {

            background-color: $tertiary-color ;
            position: absolute;
            top: 10px;
            right: 8px;
            border-radius: 2px;
            padding: 8px;
            margin: 2px;

            color: $deepsea-color ;
            font-weight: 600;
            font-size: 12px;

            @media #{$medium-up} {
                font-size: $font-size-med !important;




            }

        }
    }
}