.container {
    position: relative;
  

    display: flex;
    flex-direction: column;
    padding: 3px 13px 0 0;

    .icon {
        position: relative;
        top: -41px;
        left: 270px;
        width: 27px;
        height: 20px;
        @media #{$large-up} {
          left:440px;
    
        }
        @media #{$max-up} {
           display: none;
      
          }

       

    }

    .icon path {
        fill: transparent;
        stroke-width: 15;
        stroke: $minegray-color;
    }

    @media #{$medium-up} {
        padding-right: 50px;

    }

    @media #{$large-up} {
        padding-right: 90px;

    }


}



.icon.heart:hover path {
    -webkit-animation: animate-iconheart 0.1s linear forwards;
    animation: animate-iconheart 0.1s linear forwards;
    stroke-opacity: 0;

    @keyframes animate-iconheart {
        0% {
            fill: transparent;



        }


        100% {

            fill: url(#gradient);

        }
    }
}