.loader {
    position: fixed;
    inset: 0px;
    display: flex;
    justify-content: center;
    place-items: center;
    z-index: 1;
    height: 100vh;
    background-color: $whitegray-color;
    opacity: 0.9;
    -webkit-animation: disappear 200ms 3s forwards;
    animation: disappear 200ms 3s forwards;

    /*Disparitiondelaboiteloader*/
    @keyframes disappear {
        0% {


            overflow: hidden;
        }

        100% {

            visibility: hidden;

        }
    }

    /*Pseudo élément loader*/
    &::after {
        content: "";
        border: 16px solid $lightgray-color;
        width: 120px;
        height: 120px;
        border-top-color: $primary-color ;
        border-bottom-color: $secondary-color ;
        border-left-color: $tertiary-color ;
        border-right-color: $tertiary-color ;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -webkit-animation: loading $animation-duration linear;
        animation: loading $animation-duration linear;

    }



    /*Animation du pseudo élement */
    @keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            overflow: hidden;
        }

        50% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);

        }

        100% {
            -webkit-transform: rotate(720deg);
            -moz-transform: rotate(720deg);
            -ms-transform: rotate(720deg);
            -o-transform: rotate(720deg);
            transform: rotate(720deg);

            visibility: hidden;

        }
    }

}