.plat {

    &__choice {

        @include flex(column, center, normal, nowrap);

    }

    &__card {
        display: flex;
        width: 92%;
        background-color: white;
        justify-content: space-between;
        margin-top: 20px;
        border-radius: 16px;
        height: 70px;
        overflow: hidden;
        cursor: pointer;
        @include border-shadow;
        white-space: nowrap;



    }


    &__info {

        width: 66vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 11px 0 0 10px;
        flex-grow: 1;
    }


    &__title {
        font-weight: bold;
        font-size: large;
        margin-bottom: 2%;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &__subtitle {
        font-size: $font-size-min ;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &__price {
        width: 20px;
        @include flex(row, normal, center, nowrap);
        font-weight: bold;
        padding-top: 10%;




    }


    &__check {
        background-color: $tertiary-color;
        color: white;
        overflow: hidden;
        width: 60px;
        font-size: $font-size-med;
        padding: 24px 19px;
        animation-name: slider;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function:ease-in;
        animation-fill-mode: forwards;
        position: relative;

        
    }

    .checkicon {
        display: inline-block;
        margin: auto;
        overflow: hidden;

    }
}