/*section title*/


.underline-title {
    text-transform: uppercase;
    font-family: "roboto";
    padding-left: 5%;
    padding-top: 5%;


    &:after {
        background: $tertiary-color;
        width: 40px;
        height: 3px;
        display: block;
        content: "";
        position: relative;
        bottom: -3px;



    }

}

.header-title {

    font-family: "shrikhand", cursive;
    font-size: $font-size-med;

}

.section__title {
    padding: 55px 0px 33px 25px;

    @include font-size-title;

    @media #{$medium-up} {
        font-size: $font-size-maxi !important;
        padding-bottom: 43px;




    }


}