/*section title*/


.underline-title {
    text-transform: uppercase;
    font-family: "roboto";
    padding-left: 5%;
    padding-top: 5%;


    &:after {
        background: $tertiary-color;
        width: 32px;
        height: 3px;
        display: block;
        content: "";
        position: relative;
        bottom: -3px;



    }

}

.header-title {

    font-family: "shrikhand", cursive;
    font-size: $font-size-med;
}

.section__title {
    margin-bottom: 7%;
    margin-top: 10%;
    padding-left: 8%;
    @include font-size-title;
}
