@media all and (min-width:800px) {
   body {
      width: auto;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: auto;
   }

   /*home*/
   .header {
      @include flex(column, normal, flex-start, nowrap);


   }
}