/* header*/
.header {




    &__home {
        @include flex(column, center, normal, nowrap);



    }


    &__logo {
        width: 130px;
        justify-content: center;
        border-style: none;
        padding: 12px 0px 8px 0px;

        @media #{$medium-up} {
            width: 200px;
        }

        @media #{$large-up} {
            width: 330px;
            padding-top: 30px;
            padding-bottom: 10px;
        }

    }

    .location {
        width: 100%;
        padding: 14px 0px 16px 12px;
        background: $lightgray-color;
        box-shadow: 0px 3px 3px -1px $shadow-color inset;

        @include flex (row, baseline, center, wrap);





        &__icon {
            display: inline-block;
            font-size: $font-size-med;
            color: #353535;

            @media #{$large-up} {
                font-size: $font-size-maxi  !important;
                padding-right: 10px;




            }


        }


        .input {

            border: none;
            font-size: 14px;
            background-color: transparent;
            line-height: 1;
            color: black;
            font-weight: 700;


            @media #{$medium-up} {
                font-size: $font-size-med;
            }

            @media #{$large-up} {
                font-size: $font-size-max;
            }


        }
    }

    &__back {
        @include flex(row, center, space-around, nowrap);
        padding: 7px 100px 8px 13px;

        @media #{$medium-up} {
            justify-content: normal;

        }

        &__arrow {

            padding: 6px 0px 0px 7px;
            font-weight: bolder;

            @media #{$medium-up} {

                padding-right: 77px;
                padding-left: 30px;

            }


        }

        &__logo {
            width: 150px;
            padding-top: 5px;
            padding-right: 10px;
            padding-left: 28px;

            @media #{$medium-up} {
                width: 200px;
                padding: 8px;

            }
        }
    }


}