/*boutons*/
.btn {
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: 400;
    padding: 10px;
    margin:32px 0px 64px 10px;
    border-radius: 35px;
    overflow: hidden;
    font-size: $font-size-min ;
    width: 212px;
    height: 45px;
    @include linear-gradient;
    @include border-shadow;
    cursor: pointer;
    -webkit-transition: transform .1s;
    -moz-transition: transform .1s;
    -ms-transition: transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
    &:hover 
{
        box-shadow: 1px 6px 20px 0px $darkgray-color;
        -webkit-filter: opacity(80%);
        filter: opacity(80%);
       
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
}


    @media #{$medium-up}{
        width: 275px;
        height: 64px;
        font-size: $font-size-med;
     

    }
}