/*bases*/
body{
    margin:0;
    padding:0;
 
}

h1 h2,
h3,
p,
a,
span,
strong,
input,
link {
    font-family: "Roboto";
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0%;
}
