.main {
    max-width: 100%;
}

.speech {
    background-color: $whitegray-color;
    text-align: center;

    @media #{$medium-up} {
        padding: 10px;




    }

    &__content {


        @include flex(column, center, center,wrap);

    }


    &__title {

        padding: 35px 74px 16px 72px;

        @include font-size-title;

        @media #{$medium-up} {
            font-size: $font-size-maxi!important;




        }
    }






    &__subtitle {


        font-size: $font-size-min;
        font-variant: normal;
        font-family: "roboto";
        padding: 0px 34px 0px 27px;

        @media #{$medium-up} {
            font-size: $font-size-med !important;




        }
    }

}

.working {

    background-color: white;
   padding-bottom: 40px;


    @include flex (column, normal, center, nowrap);

    &__section {

        @include flex(column, stretch, normal, nowrap);

        @media #{$medium-up} {
            width: 100%;

        }



        @media #{$large-up} {
            @include flex(row, stretch, space-around, nowrap);

        }

        @media #{$max-up} {
            @include flex(row, stretch, space-between, nowrap);

        }
    
    }


    &__step {
        @media #{$medium-up} {
            display: flex;
          justify-content: center;





        }

        &:hover &__icon {
            color: $primary-color;
        }

        &__content {

            background-color: $whitegray-color;
            margin-bottom: 26px;
            margin-left: 36px;
            margin-right: 39px;
            padding: 20px 0px;
            border-radius: 18px;
            cursor: pointer;
            @include border-shadow;
            @include flex(row, center, normal, wrap);

            -webkit-transition: transform .1s;
            -moz-transition: transform .1s;
            -ms-transition: transform .1s;
            -o-transition: transform .1s;
            transition: transform .1s;

            &:hover {
                background-color: #EEECF0;
                -webkit-transform: scale(1.02);
                -moz-transform: scale(1.02);
                -ms-transform: scale(1.02);
                -o-transform: scale(1.02);
                transform: scale(1.02);

            }

            @media #{$medium-up} {
min-width: 400px;
                align-items: center;
           





            }
        }


        &__num {
            position: relative;
            background-color: $primary-color ;
            color: white;
            width: 27px;
            height: 27px;
            margin-left: -12px;
            margin-right: 23px;
            line-height: 30px;
            @include flex(row, normal, center, nowrap);

            border-radius: 50%;

            @media #{$medium-up} {
                width: 37px !important;
                height: 37px !important;
                line-height: 40px !important
            }
        }

        &__icon {
            font-size: 22px;
            margin-right: 23px;
            color: $darkgray-color;

            @media #{$medium-up} {
                font-size: $font-size-max;




            }

        }

        &__choice {

            font-weight: bold;
            font-size: $font-size-min;
            @media #{$medium-up}{
                font-size: $font-size-med;
            }

            @media #{$large-up} {
                font-size: $font-size-med !important;




            }
        }
    }


}


.restaurant {
    background-color: $whitegray-color;



}