/*Variables*/

//font size//
$font-size-min: 16px;
$font-size-med: 20px;
$font-size-max: 25px;
$font-size-maxi:27px;
$font-size-extra:35px;


//colors//
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$deepsea-color: #008766;

//background colors//
$whitegray-color: #f6f6f6;
$lightgray-color: #eaeaea;
$minegray-color: #353535;
$shadow-color: #c4c3c0;
$darkgray-color: #7e7e7e;

/*animations*/
$animation-duration: 3s;
    /*Responsive*/
    $mini:270px;
    $mini-up:"only screen and(min-width:#{$mini})";
    $mini-down:"only screen and(max-width:#{$mini})";


    $medium:700px;
    $medium-up:"only screen and(min-width:#{$medium}) ";
    $medium-down:"only screen and(max-width:#{$medium}) ";

    

    $large:1000px;
    $large-up:"only screen and(min-width:#{$large}) ";
    $large-down:"only screen and(max-width:#{$large}) ";

   $max:1400px;
   $max-up:"only screen and(min-width:#{$max}) ";
    $max-down:"only screen and(max-width:#{$max}) ";

