




.speech {
    background-color: $whitegray-color;
    text-align: center;

    &__content {

        padding-top: 3%;
        padding-bottom: 4%;
        @include flex(column, center, center, flex-wrap);

    }


    &__title {

        padding: 4%;
        margin: 1% 0% 0% 3%;
        @include font-size-title;

    }






    &__subtitle {


        font-size: $font-size-med;
        font-variant: normal;
        font-family: "roboto" cursive;

    }

}

.working {

    margin-bottom: 10%;


    @include flex (column, normal, center, nowrap);

    &__step {
        &__content {

            background-color: $whitegray-color;

            margin-bottom: 10%;
            margin-left: 10%;
            margin-right: 10%;
            padding: 5% 0% 5% 0%;
            border-radius: 18px;
            @include border-shadow;
            @include flex (row, center, normal, flex-wrap);

        }

        &__num {
            position: relative;
            background-color: $primary-color ;
            color: white;
            width: 8%;
            height: 3%;
            margin-left: -3%;
            margin-right: 6%;
            padding: 1%;
            border-radius: 50%;
            @include flex(row, normal, center, nowrap);


        }

        &__icon {
            margin-right: 6%;
            color: $darkgray-color;
        }

        &__choice {
            font-weight: bold;
            font-size: $font-size-min;
        }
    }
}



.restaurant {
    background-color: $whitegray-color;
    padding: 1%;

 
}
