/*menu*/
.menu {
    background-color: $whitegray-color;
    padding-bottom: 20%;





    &__picture {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: relative;
        z-index: 1;
        background-color: white;
    }

    &__content {
        background-color: $whitegray-color;
        z-index: 2;
        border-radius: 40px 40px 0px 0px;
        margin-top: -16%;
        position: relative;
        padding: 0%;
        @include flex(row, baseline, space-around, flex-wrap);
    }


    &__heading {

        padding: 7% 0% 5% 0%;

    }


    &__title {
        font-family: "shrikhand", cursive;
        font-size: $font-size-max;
      



    }





    &__plat {
        padding-bottom: 5%;
        background-color: $whitegray-color;




    }

    &__order {
        text-align: center;
        margin-top: 3%;

    }
    /*Animation Slide du menu */

.anim {


    &-1 {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-animation: slide ease-out  2s forwards;
        animation: slide ease-out  2s forwards;
        opacity: 0%;
}

    &-2 {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-animation: slide ease-out 2s forwards;
        animation: slide ease-out 2s forwards;
        opacity: 0%;
        animation-delay: 300ms;
}

    &-3 {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-animation: slide ease-out 2s forwards;
        animation: slide ease-out 2s forwards;
        opacity: 0%;
        animation-delay: 600ms;
}
}
    @keyframes slide {
        0% {
            opacity: 0%;
        }

        50% {
            opacity: 50%;
        }

        100% {
            opacity: 100%;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
}
    }
    /* animation slider check*/
    @keyframes slider {

        from {
            -moz-transform: translateX(20px);
            -ms-transform: translateX(20px);
            -o-transform: translateX(20px);
            -webkit-transform: translateX(20px);
            transform: translateX(20px);

        }




        to {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);

        }

    }




}