/*bases*/

h1 h2,
h3,
p,
a,
span,
input,
link {
    font-family: "Roboto";
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0%;
}

/*UTILS*/
/*Mixin*/
@mixin border-shadow {
    box-shadow: 0px 3px 12px 0px $shadow-color;

}

@mixin linear-gradient {
    background: linear-gradient(175deg, $secondary-color, $primary-color);
}

@mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
}

@mixin font-size-title {
    font-size: 24px;
    font-family: "roboto", sans-serif;
    font-weight: bolder;


}
/*Variables*/

//font size//
$font-size-min: 16px;
$font-size-med: 19px;
$font-size-max: 25px;

//colors//
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$deepsea-color: #008766;

//background colors//
$whitegray-color: #f6f6f6;
$lightgray-color: #eaeaea;
$minegray-color: #353535;
$shadow-color: #c4c3c0;
$darkgray-color: #7e7e7e;


/* COMPOSANTS*/

/*boutons*/
.btn {
    display: inline-block;
    margin: 0% 18% 0% 18%;

    text-align: center;
    color: white;
    font-weight: 400;
    padding: 4%;
    margin-bottom: 9%;
    margin-top: 9%;
    border-radius: 35px;
    font-size: $font-size-min ;
    @include border-shadow;
    @include linear-gradient;

    &--cmd {
        padding: 13px 45px 13px 45px;


    }
}

/*button heart*/
.btn-heart {

    font-size: $font-size-med;

    border: none;
    padding-right: 18px;
    justify-content: baseline;
}

/*card*/
.card {

    width: 85%;
    height: 230px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 10%;
    margin-left: 7%;
    overflow: hidden;
    background-color: white;
    position: relative;
    @include border-shadow;



    &__img {
        width: 100%;
        height: 71%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;

    }

    &__content {

        padding-left: 4%;
        padding-top: 2%;
        @include flex(row, baseline, space-between, flex-wrap);



    }

    &__link:link {
        color: black;
    }

    &__text {

        color: black;
        line-height: 22px;
    }

    &__name {
        font-weight: bold;
    }


    &__grab {

        background-color: $tertiary-color ;
        position: absolute;
        top: 10px;
        right: 8px;
        border-radius: 3px;
        padding: 2%;
        margin: 2%;
        color: $deepsea-color ;
        font-weight: 600;

    }
}

/*PLats*/
.plat {

    &__card {
        display: flex;
        width: 92%;
        background-color: white;
        align-items: baseline;
        margin: 16px;
        padding: 12px;
        border-radius: 16px;
        @include border-shadow;


    }


    &__info {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
    }


    &__title {
        font-weight: bold;
        margin-bottom: 5px;

    }

    &__subtitle {
        font-size: $font-size-min ;
        white-space: nowrap;
        overflow: hidden;
    }


    &__price {
        font-weight: 800;
        margin-top: auto;
        margin-left: 16px;


    }

    &__check {
        background: $tertiary-color;
        color: #FFF;
        font-size: 20px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        width: 56px;
       
        @include flex(row, center, center, flex-wrap);


    }


}

/*section title*/


.underline-title {
    text-transform: uppercase;
    font-family: "roboto";
    padding-left: 5%;
    padding-top: 5%;


    &:after {
        background: $tertiary-color;
        width: 32px;
        height: 3px;
        display: block;
        content: "";
        position: relative;
        bottom: -3px;



    }

}

.header-title {

    font-family: "shrikhand", cursive;
    font-size: $font-size-med;
}

.section__title {
    margin-bottom: 7%;
    margin-top: 10%;
    padding-left: 8%;
    @include font-size-title;
}
/*LAYOUT*/
/* header*/
.header {

    padding-top: 16px;
    padding-bottom: 6px;
    position: relative;
    @include flex(row, center, normal, nowrap);


    &__logo {

        padding-left: 22%;
        justify-content: center;
        border-style: none;

    }

    &__back {
        padding-right: 22%;
        padding-left: 6%;
    }

}

/* Footer*/
.footer {
    background-color: $minegray-color ;
    padding-top: 8%;
    padding-bottom: 8%;
    color: white;
    @include flex(column, normal, normal, nowrap);



    &__title {
        font-family: "shrikhand", cursive;
        font-size: $font-size-min;
        color: white;
        padding-left: 7%;



    }

    &__content {

        padding-top: 6%;
        padding-left: 6%;
        line-height: 26px;
        @include flex(column, normal, normal, nowrap);
    }

    &__link {

        color: white;
        font-size: $font-size-min ;
        padding-left: 9%;
        text-align: justify;
        padding-bottom: 4%;


    }

    .footer-icon {
        padding-right: 2%;
        font-size: $font-size-min ;
    }

}

/*PAGES*/
/*acceuil*/

.location {
    width: 100%;
    padding: 3%;
    background: $lightgray-color;
    box-shadow: 0px 3px 3px -1px $shadow-color inset;

    @include flex (row, baseline, center, flex-wrap);


    &__icon {
        display: inline-block;
        font-size: $font-size-med;
        color: #353535;
        padding-left: 11%;
    }


    .input {
        width: 60%;
        border: none;
        margin-left: 3%;
        height: 6%;
        text-align: center;
        line-height: 1;
        background: $lightgray-color;
        color: black;
        font-weight: 700;

    }
}



.speech {
    background-color: $whitegray-color;
    text-align: center;

    &__content {

        padding-top: 3%;
        padding-bottom: 4%;
        @include flex(column, center, center, flex-wrap);

    }


    &__title {

        padding: 4%;
        margin: 1% 0% 0% 3%;
        @include font-size-title;

    }






    &__subtitle {


        font-size: $font-size-med;
        font-variant: normal;
        font-family: "roboto" cursive;

    }

}

.working {

    margin-bottom: 10%;


    @include flex (column, normal, center, nowrap);

    &__step {
        &__content {

            background-color: $whitegray-color;

            margin-bottom: 10%;
            margin-left: 10%;
            margin-right: 10%;
            padding: 5% 0% 5% 0%;
            border-radius: 18px;
            @include border-shadow;
            @include flex (row, center, normal, flex-wrap);

        }

        &__num {
            position: relative;
            background-color: $primary-color ;
            color: white;
            width: 8%;
            height: 3%;
            margin-left: -3%;
            margin-right: 6%;
            padding: 1%;
            border-radius: 50%;
            @include flex(row, normal, center, nowrap);


        }

        &__icon {
            margin-right: 6%;
            color: $darkgray-color;
        }

        &__choice {
            font-weight: bold;
            font-size: $font-size-min;
        }
    }
}



.restaurant {
    background-color: $whitegray-color;
    padding: 1%;

    &__card {

        width: 85%;
        height: 230px;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 10%;
        margin-left: 7%;
        overflow: hidden;
        background-color: white;
        position: relative;
        @include border-shadow;



        &__img {
            width: 100%;
            height: 71%;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;

        }

        &__content {

            padding-left: 4%;
            padding-top: 2%;
            @include flex(row, baseline, space-between, flex-wrap);



        }

        &__link:link {
            color: black;
        }

        &__text {

            color: black;
            line-height: 22px;
        }

        &__name {
            font-weight: bold;
        }


        &__grab {

            background-color: $tertiary-color ;
            position: absolute;
            top: 10px;
            right: 8px;
            border-radius: 2px;
            padding: 2%;
            margin: 2%;
            color: $deepsea-color ;
            font-weight: 600;
            font-size: 12px;

        }
    }
}

/*menu*/
.menu {

    padding: 0;


    &__picture {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: relative;
        z-index: 1;
        background-color: white;
    }

    &__content {
        background-color: $whitegray-color;
        z-index: 2;
        border-radius: 40px 40px 0px 0px;
        margin-top: -16%;
        position: relative;
        padding: 0%;
        @include flex(row, baseline, space-around, flex-wrap);
    }


    &__heading {

        padding: 10% 10% 0% 0%;

    }


    &__title {
        font-family: "shrikhand", cursive;
        font-size: $font-size-max;



    }





    &__plat {
        margin-bottom: 0%;
        background-color: $whitegray-color;




    }

    &__order {
        text-align: center;
        margin-bottom: 0%;

    }

}